* {
    padding : 0;
    margin : 0;
}

html { height : 100%; }
body {
    height : 100%;
//    background-image : url('bgimg.jpg');
//    background-repeat : no-repeat;
}

#head {
    margin-bottom : 10pt;
    
    height : 30pt;
    background-color : black;
}

#menu {
    margin-left : auto;
    margin-right : auto;
    
    width : 600pt;
}
#menu ul { list-style : none; }

#menu ul > * {
    height : 30pt;
    line-height : 30pt;
    text-align : center;
    float : left;
}

#menu .item {
    display : block;
    width : 60pt;
}

#menu a, #menu a:visited {
    color : white;
    text-decoration: none;
}
 
#logo {
    width : 80pt;
    
    font-size : 2em;
    font-weight : 300;
    color : white;
}

#search {
    width : 100pt;
}

.clear {
    clear : left;
}

#content {
    margin-left : auto;
    margin-right : auto;

    width : 600pt;
    height : 100%;
}

#tail {
    display : none;
    
    margin : 10pt 10pt auto 10pt;

    height : 10pt;
    width : auto;
    
    border-top : 1pt solid black;

    color : lightgray;
    text-align : right;
}