<% content_for :main do %>
  <div id="left">
    <div id="home_new_note">
      <%= yield :new_note %>
    </div>
  
    <div id="home_note_list">
      <%= yield :note_list %>
    </div>
  </div>
  
  <div id="right">
    <div id="home_tag_list">
      <%= yield :tag_list %>
    </div>
  </div>
  
  <div class="clear"></div>
<% end %>
      
<%= render :template => 'layouts/application' %>
